In [13]:
import pandas as pd
import numpy as np

In [14]:
data=pd.read_csv('data.csv')

In [15]:
data.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,5.500680e+05,550068.000000,550068.000000,550068.000000,376430.000000,166821.000000,550068.000000
mean,1.003029e+06,8.076707,0.409653,5.404270,9.842329,12.668243,9263.968713
std,1.727592e+03,6.522660,0.491770,3.936211,5.086590,4.125338,5023.065394
min,1.000001e+06,0.000000,0.000000,1.000000,2.000000,3.000000,12.000000
25%,1.001516e+06,2.000000,0.000000,1.000000,5.000000,9.000000,5823.000000
50%,1.003077e+06,7.000000,0.000000,5.000000,9.000000,14.000000,8047.000000
75%,1.004478e+06,14.000000,1.000000,8.000000,15.000000,16.000000,12054.000000
max,1.006040e+06,20.000000,1.000000,20.000000,18.000000,18.000000,23961.000000

In [16]:
np.sum(data.isnull())

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [17]:
data['Product_Category_2']=data['Product_Category_2'].fillna((data['Product_Category_2'].median()))
data['Product_Category_3']=data['Product_Category_3'].fillna((data['Product_Category_3'].median()))

In [18]:
np.sum(data.isnull())

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
dtype: int64

In [19]:
data.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,5.500680e+05,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000
mean,1.003029e+06,8.076707,0.409653,5.404270,9.576434,13.596114,9263.968713
std,1.727592e+03,6.522660,0.491770,3.936211,4.226025,2.352863,5023.065394
min,1.000001e+06,0.000000,0.000000,1.000000,2.000000,3.000000,12.000000
25%,1.001516e+06,2.000000,0.000000,1.000000,8.000000,14.000000,5823.000000
50%,1.003077e+06,7.000000,0.000000,5.000000,9.000000,14.000000,8047.000000
75%,1.004478e+06,14.000000,1.000000,8.000000,14.000000,14.000000,12054.000000
max,1.006040e+06,20.000000,1.000000,20.000000,18.000000,18.000000,23961.000000

In [20]:
no1=data.describe()
no1.to_csv('no1.csv', sep=',')

In [21]:
data.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,9.0,14.0,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,9.0,14.0,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,14.0,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,9.0,14.0,7969

In [23]:
data.shape

(550068, 12)

In [24]:
a=data
from scipy import stats
z= np.abs(stats.zscore(a._get_numeric_data()))
print(z)
a=a[(z<3).all(axis=1)]
print(a.shape)

[[1.75263944 0.29486356 0.83301799 ... 0.13640115 0.17165758 0.1779729 ]
 [1.75263944 0.29486356 0.83301799 ... 0.84628872 0.17165758 1.1817558 ]
 [1.75263944 0.29486356 0.83301799 ... 0.13640115 0.17165758 1.56119326]
 ...
 [1.74066623 1.06142262 1.20045427 ... 0.13640115 0.17165758 1.81701338]
 [1.74182391 1.08494277 0.83301799 ... 0.13640115 0.17165758 1.77162273]
 [1.74240275 1.23825458 1.20045427 ... 0.13640115 0.17165758 1.7467375 ]]
(518754, 12)

In [57]:
b=a.describe()

In [59]:
b.to_csv('no2.csv', sep=',')

In [31]:
no3=pd.read_csv('data.csv')

In [32]:
no3['Product_Category_2']=no3['Product_Category_2'].fillna((no3['Product_Category_2'].median()))
no3['Product_Category_3']=no3['Product_Category_3'].fillna((no3['Product_Category_3'].median()))

In [33]:
np.sum(no3.isnull())

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
dtype: int64

In [37]:
no3

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,9.0,14.0,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,9.0,14.0,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,14.0,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,9.0,14.0,7969
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,14.0,15227
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,14.0,15854
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,14.0,15686
9,1000005,P00274942,M,26-35,20,A,1,1,8,9.0,14.0,7871
10,1000005,P00251242,M,26-35,20,A,1,1,5,11.0,14.0,5254
11,1000005,P00014542,M,26-35,20,A,1,1,8,9.0,14.0,3957
12,1000005,P00031342,M,26-35,20,A,1,1,8,9.0,14.0,6073
13,1000005,P00145042,M,26-35,20,A,1,1,1,2.0,5.0,15665
14,1000006,P00231342,F,51-55,9,A,1,0,5,8.0,14.0,5378
15,1000006,P00190242,F,51-55,9,A,1,0,4,5.0,14.0,2079
16,1000006,P0096642,F,51-55,9,A,1,0,2,3.0,4.0,13055
17,1000006,P00058442,F,51-55,9,A,1,0,5,14.0,14.0,8851
18,1000007,P00036842,M,36-45,1,B,1,1,1,14.0,16.0,11788
19,1000008,P00249542,M,26-35,12,C,4+,1,1,5.0,15.0,19614
20,1000008,P00220442,M,26-35,12,C,4+,1,5,14.0,14.0,8584
21,1000008,P00156442,M,26-35,12,C,4+,1,8,9.0,14.0,9872
22,1000008,P00213742,M,26-35,12,C,4+,1,8,9.0,14.0,9743
23,1000008,P00214442,M,26-35,12,C,4+,1,8,9.0,14.0,5982
24,1000008,P00303442,M,26-35,12,C,4+,1,1,8.0,14.0,11927
25,1000009,P00135742,M,26-35,17,C,0,0,6,8.0,14.0,16662
26,1000009,P00039942,M,26-35,17,C,0,0,8,9.0,14.0,5887
27,1000009,P00161442,M,26-35,17,C,0,0,5,14.0,14.0,6973
28,1000009,P00078742,M,26-35,17,C,0,0,5,8.0,14.0,5391
29,1000010,P00085942,F,36-45,1,B,4+,1,2,4.0,8.0,16352
...,...,...,...,...,...,...,...,...,...,...,...,...
550038,1005995,P00375436,F,36-45,1,C,2,1,20,9.0,14.0,596
550039,1005996,P00371644,F,26-35,0,B,1,1,20,9.0,14.0,595
550040,1005997,P00370853,F,26-35,7,A,3,0,19,9.0,14.0,26
550041,1006000,P00371644,M,46-50,17,B,2,1,20,9.0,14.0,488
550042,1006002,P00371644,M,51-55,0,C,1,1,20,9.0,14.0,243
550043,1006003,P00370293,F,46-50,17,C,1,0,19,9.0,14.0,48
550044,1006004,P00370853,F,26-35,15,C,2,0,19,9.0,14.0,62
550045,1006005,P00371644,F,26-35,5,C,2,1,20,9.0,14.0,252
550046,1006006,P00375436,F,0-17,0,C,1,0,20,9.0,14.0,236
550047,1006009,P00372445,F,26-35,12,C,3,0,20,9.0,14.0,244
550048,1006010,P00371644,M,36-45,0,C,1,0,20,9.0,14.0,591
550049,1006011,P00375436,M,36-45,15,C,3,0,20,9.0,14.0,473
550050,1006012,P00371644,M,36-45,15,C,4+,1,20,9.0,14.0,368
550051,1006013,P00375436,F,26-35,20,C,3,0,20,9.0,14.0,489
550052,1006016,P00375436,M,46-50,1,B,1,1,20,9.0,14.0,239
550053,1006017,P00371644,F,36-45,7,B,1,0,20,9.0,14.0,371
550054,1006018,P00370293,M,36-45,1,C,3,0,19,9.0,14.0,60
550055,1006019,P00372445,M,26-35,0,A,4+,0,20,9.0,14.0,238
550056,1006022,P00375436,M,26-35,17,C,4+,0,20,9.0,14.0,254
550057,1006023,P00370853,M,26-35,0,C,2,1,19,9.0,14.0,61
550058,1006024,P00372445,M,26-35,12,A,0,1,20,9.0,14.0,121
550059,1006025,P00370853,F,26-35,1,B,1,0,19,9.0,14.0,48
550060,1006026,P00371644,M,36-45,6,C,1,1,20,9.0,14.0,494
550061,1006029,P00372445,F,26-35,1,C,1,1,20,9.0,14.0,599
550062,1006032,P00372445,M,46-50,7,A,3,0,20,9.0,14.0,473
550063,1006033,P00372445,M,51-55,13,B,1,1,20,9.0,14.0,368
550064,1006035,P00375436,F,26-35,1,C,3,0,20,9.0,14.0,371
550065,1006036,P00375436,F,26-35,15,B,4+,1,20,9.0,14.0,137
550066,1006038,P00375436,F,55+,1,C,2,0,20,9.0,14.0,365
550067,1006039,P00371644,F,46-50,0,B,4+,1,20,9.0,14.0,490

In [60]:
x=no3.iloc[0:550068,4:12]
x1=x.drop('City_Category',1)
x2=x1.drop('Stay_In_Current_City_Years',1)

In [61]:
#normalization
from sklearn.preprocessing import normalize
xnorm=normalize(x2,norm='l2') #default norm L2, other are L1 dan Max
xnorm=pd.DataFrame(xnorm)
xnorm.tail()

               0         1         2         3         4         5
550063  0.035216  0.002709  0.054179  0.024380  0.037925  0.996887
550064  0.002689  0.000000  0.053776  0.024199  0.037643  0.997546
550065  0.106947  0.007130  0.142595  0.064168  0.099817  0.976779
550066  0.002733  0.000000  0.054656  0.024595  0.038259  0.997465
550067  0.000000  0.002038  0.040759  0.018341  0.028531  0.998591

In [62]:
#3sigmoid
xsigmoidal=(1-2.718281828**(-xnorm))/(1+2.718281828**(-xnorm))
xsigmoidal=pd.DataFrame(xsigmoidal)
xsigmoidal.tail()

               0         1         2         3         4         5
550063  0.017606  0.001354  0.027083  0.012190  0.018960  0.460892
550064  0.001344  0.000000  0.026882  0.012099  0.018819  0.461152
550065  0.053422  0.003565  0.071177  0.032073  0.049867  0.452937
550066  0.001366  0.000000  0.027321  0.012297  0.019127  0.461120
550067  0.000000  0.001019  0.020377  0.009170  0.014265  0.461563

In [64]:
ets3=xsigmoidal.describe()
ets3.to_csv('no3.csv', sep=',')

In [56]:
x2

,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,10,0,3,9.0,14.0
1,10,0,1,6.0,14.0
2,10,0,12,9.0,14.0
3,10,0,12,14.0,14.0
4,16,0,8,9.0,14.0
5,15,0,1,2.0,14.0
6,7,1,1,8.0,17.0
7,7,1,1,15.0,14.0
8,7,1,1,16.0,14.0
9,20,1,8,9.0,14.0
10,20,1,5,11.0,14.0
11,20,1,8,9.0,14.0
12,20,1,8,9.0,14.0
13,20,1,1,2.0,5.0
14,9,0,5,8.0,14.0
15,9,0,4,5.0,14.0
16,9,0,2,3.0,4.0
17,9,0,5,14.0,14.0
18,1,1,1,14.0,16.0
19,12,1,1,5.0,15.0
20,12,1,5,14.0,14.0
21,12,1,8,9.0,14.0
22,12,1,8,9.0,14.0
23,12,1,8,9.0,14.0
24,12,1,1,8.0,14.0
25,17,0,6,8.0,14.0
26,17,0,8,9.0,14.0
27,17,0,5,14.0,14.0
28,17,0,5,8.0,14.0
29,1,1,2,4.0,8.0
...,...,...,...,...,...
550038,1,1,20,9.0,14.0
550039,0,1,20,9.0,14.0
550040,7,0,19,9.0,14.0
550041,17,1,20,9.0,14.0
550042,0,1,20,9.0,14.0
550043,17,0,19,9.0,14.0
550044,15,0,19,9.0,14.0
550045,5,1,20,9.0,14.0
550046,0,0,20,9.0,14.0
550047,12,0,20,9.0,14.0
550048,0,0,20,9.0,14.0
550049,15,0,20,9.0,14.0
550050,15,1,20,9.0,14.0
550051,20,0,20,9.0,14.0
550052,1,1,20,9.0,14.0
550053,7,0,20,9.0,14.0
550054,1,0,19,9.0,14.0
550055,0,0,20,9.0,14.0
550056,17,0,20,9.0,14.0
550057,0,1,19,9.0,14.0
550058,12,1,20,9.0,14.0
550059,1,0,19,9.0,14.0
550060,6,1,20,9.0,14.0
550061,1,1,20,9.0,14.0
550062,7,0,20,9.0,14.0
550063,13,1,20,9.0,14.0
550064,1,0,20,9.0,14.0
550065,15,1,20,9.0,14.0
550066,1,0,20,9.0,14.0
550067,0,1,20,9.0,14.0